<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>
    FormsWorking - {% block title %}{% endblock %}
  </title>

  <!-- Favicon - loaded as static -->
  <link rel="icon" href="/app/static/favicon.ico" type="image/ico">
  <!-- Bootstrap Icons library -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <!-- Page plugins -->
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/app/static/dis_menu.css">
  <link rel="stylesheet" href="/app/static/popup.css">
  <link rel="stylesheet" href="/app/static/sidebars.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>

  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">
  {% include "includes/navigation.html" %}

  <main>

    {% include "includes/sidenav.html" %}

    <div class="b-example-divider"></div>
    
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light overflow-auto" style="width:max-content">

    {% block content %}{% endblock content %}

    </div>
  </main>
  
  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}

  <script>
    function NewTab(href, target) {
      window.open(href,"_self");
    }
    function NewWindow(href, target) {
      window.open(href,target);
    }
    /* global bootstrap: false */
    (function () {
      'use strict'
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      tooltipTriggerList.forEach(function (tooltipTriggerEl) {
        new bootstrap.Tooltip(tooltipTriggerEl)
      })
    })()

  </script>
</body>
</html>
