body {
    margin: 10;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
  }
  /*
   * Formatting the header area
   */
  header {
    background-color: #1A2B45;
    height: 60px;
    width: 100%;
    opacity: .9;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  header h1.logo {
    margin: 0;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 1.7em;
    color: #fff;
    float: right;
  }
  header h1.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  /*
   * Centering the body content
   */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.about {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.edit {
    padding: 10px 0 30px 0;
    background-color: #cbcbcb;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
  }
  .menu {
    float: right;
    margin-top: 8px;
    width: 100%;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    color: #444;
    text-decoration: none;
  }

  .pageName h1 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #606060;
    float: left;
    width: 100%;
  }

  div.submenu {
    margin: 20;
    padding: 10px 0 30px 0;
    background-color: #dbdbdc;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}