<!-- http://54.252.242.116:8000/static/example.html -->
<html>
  <head>

    <!-- Favicon - loaded as static -->
    <link rel="icon" href="/app/static/favicon.ico" type="image/ico">

    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css'>
    <link rel="stylesheet" href="/app/static/menu.css">

    <script src='https://cdn.form.io/formiojs/formio.full.min.js'></script>
    <script type="text/javascript" charset="utf8" src="/app/static/jquery-3.6.0.min.js"></script>
    <script type='text/javascript'>
     window.onload = function() {
        Formio.createForm(document.getElementById('formio'), '{{ops_portal_url}}/app/formio/{{path}}/submission/{{keyvalue}}');
      };
    </script>
    <title>{{keyvalue}} - {{desc}}</title>
  </head>
  <body>
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom d-flex justify-content-between p-3">
      <div>
        <a href="/app">
          <img src="/app/static/logo-new.png" style="width:200px;" alt="Flander, Beyer and Associates P/L">
        </a>
        </div>
      <div class="text-white" style="font-size: 2rem">{{keyvalue}} - {{desc}}</div>
  </nav>

  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light overflow-auto" style="width:max-content">
    <div class="container" style="margin: 10px;">
      <div id='formio'></div>
  </div>

  <script>
    async function submit_and_reload(form, target) {
      await form.submit();
      if (target === "reload") {
        location.reload();
      } else if (target === 'close') {
        window.close();
      }

    }
  </script>
</body>
</html>