<html>
  <head>
    <link rel="stylesheet" href="/app/static/menu.css">
    <style>
        * {
      box-sizing: border-box;
      }
      *:focus {
      outline: none;
      }
      .login {
      margin: 20px auto;
      width: 300px;
      }
      .login-screen {
      background-color: rgb(20, 23, 190);
      padding: 20px;
      border-radius: 5px
      }
      .app-title {
      text-align: center;
      color: #E55423
      }
      .login-form {
      text-align: center;
      }
      .control-group {
      margin-bottom: 10px;
      }
      input {
      text-align: center;
      background-color: #ECF0F1;
      border: 2px solid transparent;
      border-radius: 3px;
      font-size: 16px;
      font-weight: 200;
      padding: 10px 0;
      width: 250px;
      transition: border .5s;
      }
      input:focus {
      border: 2px solid #3498DB;
      box-shadow: none;
      }
      .btn {
      border: 2px solid transparent;
      background: #E55423;
      color: #ffffff;
      font-size: 16px;
      line-height: 25px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 250px;
      margin: 0 auto;
      }
      .btn:hover {
      background-color: #E55423;
      }
      .login-link {
      font-size: 12px;
      color: #444;
      display: block;
      margin-top: 12px;
      }  
    </style>
  </head>
  <body>
    <title>FormsFBA - Login</title>
    <header>
      <div class="container">
      <img src="/app/static/logo-new.png" style="height: 60px; padding-top: 11px; padding-left: 24px;" />
      <h1 class="logo">FormsFBA Login - {{session['environment_title']}}</h1>
      </div>
      </header>
    <div style="margin: 10px;">
      <form action="/app/login" method="POST">
      <div class="login">
        <div class="login-screen">
        <div class="login-form">
          <div class="control-group">
              <input type="text" class="login-field" value="" placeholder="username" name="username">
              <label class="login-field-icon fui-user" for="login-name"></label>
          </div>
          <div class="control-group">
              <input type="password" class="login-field" value="" placeholder="password" name="password">
              <label class="login-field-icon fui-lock" for="login-pass"></label>
          </div>
            <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
          </div>
        </div>
        </div>
        <div style="text-align: center; font-weight: bold">
          {{session['loginMessage']}}
        </div>
      </form>

  </div>
  </body>
</html>
